<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<style>
	body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }
	.bar {  }

	</style>
</head>

<body style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
	<h2>GitHub Visualisation</h2>
	<select id="repoSelector">
		{% for repo in commits %}
		<option value="{{ repo }}">{{ repo.name }}</option>
		{% endfor %}
	</select>

	<script>
	var repos = {{ json_commits|tojson }};
	repos = JSON.parse(repos);

	renderGraph = function(data) {
		var w = 800;
		var h = 500;
		var margin = {
			top: 50,
			bottom: 100,
			left: 50,
			right: 20
		};
		var width = w - margin.left - margin.right;
		var height = h - margin.top - margin.bottom;
		var x = d3.scaleBand()
		.domain(data.map(function(d){
			return d.key;
		}))
		.range([margin.left, width])
		.padding(0.1);
		var y = d3.scaleLinear()
		.domain([0, d3.max(data, function(d){
			return d.value;
		})])
		.range([height, margin.top])
		var yAxis = d3.axisLeft().scale(y)
		var svg = d3.select("body").append("svg")
		.attr("id", "chart")
		.attr("width", w)
		.attr("height", h);

		svg.append("g")
		.attr("class","axis")
		.attr("transform","translate(" + margin.left + ",0)")
		.call(yAxis);
		svg.append("text")
    .attr("class", "y label")
    .attr("text-anchor", "end")
    .attr("y", 22.5)
		.attr("x", -150)
    .attr("transform", "rotate(-90)")
    .text("Commits");


		svg.selectAll("rect")
		.data(data)
		.enter()
		.append("rect")
		.attr("class","bar")
		.on("mouseover",function(){
			d3.select(this)
			.attr("fill","#3c763d")
		})
		.on("mouseout",function(){
			d3.select(this)
			.transition("colorfade")
			.duration(250)
			.attr("fill","#3AAEB4")
		})
		.attr("fill","#3AAEB4")
		.attr("x", function(d,i){
			return x(d.key);
		})
		.attr("width", x.bandwidth())
		.attr("y", height)
		.transition("bars")
		.delay(function(d, i) {
			return i * 50;
		})
		.duration(1000)
		.attr("y", function(d,i){
			return y(d.value);
		})
		.attr("height", function(d,i){
			return height-y(d.value);
		})

		svg.selectAll("rect")
		.append("title")
		.text(function(d) {
			return d.key + ": " + d.value;
		})

		svg.selectAll(".val-label")
		.data(data)
		.enter()
		.append("text")
		.classed("val-label", true)

		.attr("x", function(d,i){
			return x(d.key) + x.bandwidth()/2;
		})
		.attr("y", height)

		.transition("label")
		.delay(function(d, i) {
			return i * 50;  // gives it a smoother effect
		})
		.duration(1000)

		.attr("y", function(d,i){
			return y(d.value) - 4;
		})
		.attr("text-anchor","middle")
		.text(function(d){return d.value});

		svg.selectAll(".bar-label")
		.data(data)
		.enter()
		.append("text")
		.classed("bar-label", true)

		.attr("transform",function(d,i){
			return "translate(" + (x(d.key) + x.bandwidth()/2 - 8 ) + "," + (height+15) + ")"
			+ " rotate(45)" })

			.attr("text-anchor","left")
			.text(function(d){return d.key})

			d3.select("#byKey").on("click", function() {
				data.sort(function(a, b) {
					return d3.ascending(a.key, b.key)
				})
				x.domain(data.map(function(d) {
					return d.key;
				}));
				svg.selectAll(".bar")
				.transition()
				.duration(500)
				.attr("x", function(d, i) {
					return x(d.key);
				})

				svg.selectAll(".val-label")
				.transition()
				.duration(500)
				.attr("x", function(d, i) {
					return x(d.key) + x.bandwidth() / 2;
				})

				svg.selectAll(".bar-label")
				.transition()
				.duration(500)
				.attr("transform", function(d, i) {
					return "translate(" + (x(d.key) + x.bandwidth() / 2 - 8) + "," + (height + 15) + ")" + " rotate(45)"
				})

			})

			d3.select("#byValue").on("click", function() {
				data.sort(function(a, b) {
					return d3.descending(a.value, b.value)
				})
				x.domain(data.map(function(d) {
					return d.key;
				}));
				svg.selectAll(".bar")
				.transition()
				.duration(500)
				.attr("x", function(d, i) {
					return x(d.key);
				})

				svg.selectAll(".val-label")
				.transition()
				.duration(500)
				.attr("x", function(d, i) {
					return x(d.key) + x.bandwidth() / 2;
				})

				svg.selectAll(".bar-label")
				.transition()
				.duration(500)
				.attr("transform", function(d, i) {
					return "translate(" + (x(d.key) + x.bandwidth() / 2 - 8) + "," + (height + 15) + ")" + " rotate(45)"
				})
			});
		};

		$("#repoSelector").on("change", function() {
			$("#chart").remove();
			var parsed = this.value.replace(/'/g, "\"");
			renderGraph(JSON.parse(parsed).contributors);
		});

		$(window).load(function() {
			renderGraph(repos[0].contributors);
		});
		</script>
	</body>
	</html>
